<!doctype html>
<html lang="en" data-ng-app="appcfg">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Configuration application (alpha)</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular-resource.js"></script>
    <script type="text/javascript">
        //<![CDATA[

        angular.module("appcfg", ["ngResource"]).factory("StackCfg", function ($resource) {
            return $resource("stack_configuration.json");
        });

        function AppCfg($scope, $http, StackCfg) {
            $scope.newNickname = "";
            $scope.statusMessage = "";
            $scope.message = "";
            $scope.cfg = StackCfg.get();

            $scope.save = function () {
                $scope.cfg.$save(function () {
                    alert('config saved to server');
                }, function () {
                    alert('ERROR on save');
                });
            };

            $scope.diffs = function () {
                $http.get("/diffs/stack_configuration.json").success(function (response) {
                    $scope.statusMessage = response;
                }).failure(function () {
                    alert("Diff failed");
                });
            };

            $scope.commit = function () {
                $http.post("/commit?message=" + $scope.message).success(function (response) {
                    $scope.statusMessage = response;
                }).failure(function (code, response) {
                    alert("git commit failed");
                });
            };

            $scope.sync = function () {
                $http.post("/sync").success(function (response) {
                    $scope.statusMessage = response;
                }).failure(function (response) {
                    alert("Sync failed");
                });
            };

            $scope.revert = function () {
                $http.post("/revert/stack_configuration.json").success(function (response) {
                    $scope.cfg.$get({}, function () {
                        $scope.statusMessage = response;
                    }, function (code, response) {
                        alert("Revert succeeded, reload failed");
                    });
                }).failure(function (response) {
                    alert("Revert failed");
                });
            };

            $scope.newNick = function () {
                $scope.cfg.bannedNicks.push($scope.newNickname);
                $scope.newNickname = "";
            };

            $scope.deleteNick = function (nick) {
                var oldBannedNicks = $scope.cfg.bannedNicks;
                $scope.cfg.bannedNicks = [];
                angular.forEach(oldBannedNicks, function (n) {
                    if (nick != n) $scope.cfg.bannedNicks.push(n);
                });
            };
        }

        //]]>
    </script>
</head>
<body data-ng-controller="AppCfg">

Light is on: <input type="checkbox" data-ng-model="cfg.lighton">
<br/>

Default Error Reciever (email): <input data-ng-model="cfg.defaultErrorReciever" data-ng-validate="email"/>
<br/>

Max Load Percentage: <input data-ng-model="cfg.loadMaxPercent" data-ng-validate="number:0:100"/>
<br/>

Next Shutdown Date: <input data-ng-model="cfg.nextShutdownDate" data-ng-validate="date"/>
<br/>

Banned nicks:
<ol>
    <li data-ng-repeat="nick in cfg.bannedNicks">
        <span>{{nick}}&nbsp;&nbsp;<a ng-click="deleteNick(nick)">[X]</a></span>
    </li>
</ol>

<form data-ng-submit="newNick()">
    <input type="text" data-ng-model="newNickname" size="20">
    <input type="submit" value="&lt;-- Add Nick"><br>
</form>

<button data-ng-click="save()">Save Changes</button>
<br/>

<button data-ng-click="diffs()">Show Diffs</button>
<br/>

<button data-ng-click="revert()">Revert Changes</button>
<br/>

<button data-ng-disabled="{{!message}}" data-ng-click="commit()">Commit Changes</button>
Commit Message: <input data-ng-model="message" type="text"/><br/>

<button data-ng-click="sync()">Sync Working Copy</button>
<br/><br/>

<div data-ng-bind-html-unsafe="statusMessage"></div>

</body>
</html>
