<!doctype html>
<html lang="en" data-ng-app="appcfg">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Configuration application (alpha)</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.0/angular-resource.js"></script>
    <script type="text/javascript">
        //<![CDATA[

        angular.module("appcfg", ["ngResource"]).factory("StackCfg", function ($resource) {
            return $resource("stack_configuration.json");
        });

        function AppCfg($scope, $http, StackCfg) {
            $scope.newNickname = "";
            $scope.message = "";
            $scope.cfg = StackCfg.get();

            $scope.save = function () {
                $scope.cfg.$save(function () {
                    alert("config saved to server");
                }, function () {
                    alert("ERROR on save");
                });
            };

            $scope.sync = function () {
                $http.post("/sync").success(function (response) {
                    alert("Sync succeeded");
                }).failure(function (response) {
                    alert("Sync failed");
                });
            };

            $scope.newNick = function () {
                $scope.cfg.bannedNicks.push($scope.newNickname);
                $scope.newNickname = "";
            };

            $scope.deleteNick = function (nick) {
                var oldBannedNicks = $scope.cfg.bannedNicks;
                $scope.cfg.bannedNicks = [];
                angular.forEach(oldBannedNicks, function (n) {
                    if (nick != n) $scope.cfg.bannedNicks.push(n);
                });
            };
        }

        //]]>
    </script>
</head>
<body data-ng-controller="AppCfg">

<label for="lighton">Light is on:</label>
<input type="checkbox" data-ng-model="cfg.lighton" id="lighton"/>
<br/>

<label for="defaultErrorReciever">Default Error Reciever (email):</label>
<input data-ng-model="cfg.defaultErrorReciever" data-ng-validate="email" id="defaultErrorReciever"/>
<br/>

<label for="loadMaxPercent">Max Load Percentage:</label>
<input data-ng-model="cfg.loadMaxPercent" data-ng-validate="number:0:100" id="loadMaxPercent"/>
<br/>

<label for="nextShutdownDate">Next Shutdown Date:</label>
<input data-ng-model="cfg.nextShutdownDate" data-ng-validate="date" id="nextShutdownDate"/>
<br/>

Banned nicks:
<ol>
    <li data-ng-repeat="nick in cfg.bannedNicks">
        <span>{{nick}}&nbsp;&nbsp;<a data-ng-click="deleteNick(nick)">[X]</a></span>
    </li>
</ol>

<form data-ng-submit="newNick()">
    <label for="newNickname">Ban Nickname:</label>
    <input type="text" data-ng-model="newNickname" size="20" id="newNickname"/>
    <input type="submit" value="&lt;-- Add Nick"/><br>
</form>

<button data-ng-click="sync()">Sync Working Copy</button>
<br/>

<button data-ng-click="save()">Save Changes</button>
<br/>

</body>
</html>
