<div data-ng-app="appcfg">

    <script type="text/javascript">
        //<![CDATA[

        angular.module("appcfg", ["ngResource"]).factory("StackCfgModel", function ($resource) {
            return $resource("/stack_configuration.json");
        });

        function StackCfg($scope, $http, StackCfgModel) {
            $scope.statusMessage = "";
            $scope.newNickname = "";
            $scope.message = "";
            $scope.cfg = StackCfgModel.get();

            $scope.diffs = function () {
                $http.get("/diffs/stack_configuration.json").success(function (response) {
                    $scope.statusMessage = response;
                }).failure(function () {
                    alert("Diff failed");
                });
            };

            $scope.revert = function () {
                $http.post("/revert/stack_configuration.json").success(function (response) {
                    $scope.cfg.$get({}, function () {
                        $scope.statusMessage = response;
                    }, function (code, response) {
                        alert("Revert succeeded, reload failed");
                    });
                }).failure(function (response) {
                    alert("Revert failed");
                });
            };

            $scope.save = function () {
                $scope.cfg.$save(function (response) {
                    $scope.statusMessage = response;
                }, function () {
                    alert("ERROR on save");
                });
            };

            $scope.sync = function () {
                $http.post("/sync").success(function (response) {
                    $scope.statusMessage = response;
                }).failure(function (response) {
                    alert("Sync failed");
                });
            };

            $scope.newNick = function () {
                $scope.cfg.bannedNicks.push($scope.newNickname);
                $scope.newNickname = "";
            };

            $scope.deleteNick = function (nick) {
                var oldBannedNicks = $scope.cfg.bannedNicks;
                $scope.cfg.bannedNicks = [];
                angular.forEach(oldBannedNicks, function (n) {
                    if (nick != n) $scope.cfg.bannedNicks.push(n);
                });
            };
        }

        //]]>
    </script>

    <div data-ng-controller="StackCfg">

        <label for="lighton">Light is on:</label>
        <input type="checkbox" data-ng-model="cfg.lighton" id="lighton"/>
        <br/>

        <label for="defaultErrorReciever">Default Error Reciever (email):</label>
        <input data-ng-model="cfg.defaultErrorReciever" data-ng-validate="email" id="defaultErrorReciever"/>
        <br/>

        <label for="loadMaxPercent">Max Load Percentage:</label>
        <input data-ng-model="cfg.loadMaxPercent" data-ng-validate="number:0:100" id="loadMaxPercent"/>
        <br/>

        <label for="nextShutdownDate">Next Shutdown Date:</label>
        <input data-ng-model="cfg.nextShutdownDate" data-ng-validate="date" id="nextShutdownDate"/>
        <br/>

        Banned nicks:
        <ol>
            <li data-ng-repeat="nick in cfg.bannedNicks">
                <span>{{nick}}&nbsp;&nbsp;<a data-ng-click="deleteNick(nick)">[X]</a></span>
            </li>
        </ol>

        <form data-ng-submit="newNick()">
            <label for="newNickname">Ban Nickname:</label>
            <input type="text" data-ng-model="newNickname" size="20" id="newNickname"/>
            <input type="submit" value="&lt;-- Add Nick"/><br/>
        </form>

        <button data-ng-click="sync()">Sync Working Copy</button>
        <br/>

        <button data-ng-click="diffs()">View Diff</button>
        <br/>

        <button data-ng-click="save()">Save Changes</button>
        <br/>

        <button data-ng-click="revert()">Revert Changes</button>
        <br/><br/>

        <div data-ng-bind-html-unsafe="statusMessage"></div>

    </div>

</div>
