<label for="lighton">Light is on:</label>
<input type="checkbox" data-ng-model="cfg.lighton" id="lighton"/>
<br/>

<label for="defaultErrorReciever">Default Error Reciever (email):</label>
<input data-ng-model="cfg.defaultErrorReciever" data-ng-validate="email" id="defaultErrorReciever"/>
<br/>

<label for="loadMaxPercent">Max Load Percentage:</label>
<input data-ng-model="cfg.loadMaxPercent" data-ng-validate="number:0:100" id="loadMaxPercent"/>
<br/>

<label for="nextShutdownDate">Next Shutdown Date:</label>
<input data-ng-model="cfg.nextShutdownDate" data-ng-validate="date" id="nextShutdownDate"/>
<br/>

Banned nicks:
<ol>
    <li data-ng-repeat="nick in cfg.bannedNicks">
        <span>{{nick}}&nbsp;&nbsp;<a data-ng-click="deleteNick(nick)">[X]</a></span>
    </li>
</ol>

<form data-ng-submit="newNick()">
    <label for="newNickname">Ban Nickname:</label>
    <input type="text" data-ng-model="newNickname" size="20" id="newNickname"/>
    <input type="submit" value="&lt;-- Add Nick"/><br/>
</form>
<br/>
