<% content_for :title do "Branch Mappings" end %>

<script type="text/javascript">
//<![CDATA[

    angular.module("branchMappings", ["ngResource"]).factory("BranchMappingsModel", function ($resource) {
        return $resource("/branchMappings.json", {}, {
            get: {
                method: "GET",
                isArray: true
            }
        });
    });

    function BranchMappingsController($scope, BranchMappingsModel) {
        $scope.mappings = BranchMappingsModel.get();
    }

//]]>
</script>

<div data-ng-app="branchMappings" data-ng-controller="BranchMappingsController">

    Mappings: q{{mappings.length}}<br/>
    <ol>
        <li data-ng-repeat="mapping in mappings">from {{mapping.from}} to {{mapping.to}}</li>
    </ol>

</div>
