%h1 Pending Changes

- if edited_files.length > 0
  %ul
    - edited_files.each do |edited_file|
      %li
        %strong #{edited_file[:filename]}
        %pre
          :escaped
            #{edited_file[:diffs]}
- else
  %p No changes pending.
