- content_for :title do
  Pending Changes

- content_for :ng_controller do
  AppCfg

- if edited_files.length == 0

  %p No changes pending.

- else

  :javascript
    function AppCfg($scope, $http) {
      $scope.revert = function (url) {
        if (confirm("Are you sure?\nYou will lose any changes.")) {
          $http.post(url)
            .success(function () {window.location.reload();})
            .failure(function () {alert("Revert failed!");});
        }
      }

      $scope.commit = function () {
        if (!$scope.message) {
          alert("Commit message is required!");
        } else {
          $http.post("/commit", {message: $scope.message})
            .success(function () {alert("Committed!")})
            .failure(function () {alert("Commit failed!");});
        }
      }
    }

  %div(data-ng-app="" data-ng-controller="AppCfg")
    %form#commit_form(action="/commit" method="post")
      %label(for="message") Commit Message:
      %input#message(type="text" name="message" data-ng-model="message")
      %input(type="button" data-ng-click="commit()" value='Commit Changes')

    %table
      - edited_files.each do |edited_file|
        %tr
          %td
            %strong #{edited_file[:filename]}
          %td
            %input(type="submit" value="Revert Changes" data-ng-click="revert('/revert/#{edited_file[:filename]}')")
        %tr
          %td(colspan="2")
            %pre
              :escaped
                #{edited_file[:diffs]}
