<% content_for :title do "Logout" end %>

<p><strong>You have pending changes in your working copy!</strong></p>

<p>Are you sure you want to logout?
    &nbsp;&nbsp; <a href="/logout?confirm=true">Yes</a>
    &nbsp;&nbsp; <a href="/">No</a></p>
