!!! 5
%html{lang: 'en'}
  %head
    %title #{(yield_content :title).strip + ' | ' if content_for? :title}App-Config-App
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/layout.css'}
    %script{type: 'text/javascript', src: 'http://code.angularjs.org/1.1.0/angular.js'}
    %script{type: 'text/javascript', src: 'http://code.angularjs.org/1.1.0/angular-resource.js'}
    #{yield_content :head}
  %body
    %header
      %h1 App-Config-App
      %nav
        %ul
          - if session[:authenticated]
            %li
              %a{href: '/'} Home
            %li
              %a{href: '/changes'} Pending Changes
            %li
              %a{href: '/logout'} Logout
          - else
            %li
              %a{href: '/login'} Login
    %section.content
      #{yield}
