%h1 Login

%form{:action => '/login', :method => 'post'}
  %table
    %tr
      %td
        %label{:for => 'username'} Username:
      %td
        %input#username{:name => 'username', :type => 'text'}
    %tr
      %td
        %label{:for => 'password'} Password:
      %td
        %input#password{:name => 'password', :type =>'text'}
    %tr
      %td
      %td
        %input{:value => 'Login', :type => 'submit'}
