<% content_for :title do "Login" end %>

<form action="/login" method="post" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input id="username" name="username" type="text"/></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input id="password" name="password" type="password"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login"/></td>
        </tr>
    </table>
</form>
