<h2>Merge Result</h2>

<% if reverse %>
<% from, to = (mapping.split '-').reverse! %>
<% else %>
<% from, to = mapping.split '-' %>
<% end %>
<p>Successfully merged from <%= from %> to <%= to %>. <strong style="font-size: 120%;">Review your changes before you commit.</strong></p>
