<% content_for :title do "Promote Changes" end %>

<script type="text/javascript">
//<![CDATA[

    angular.module("promote-changes", ["ngResource"]).factory("ChangeMappings", function ($resource) {
        return $resource("/change_mappings.json", {}, {
            get: {
                method: "GET",
                isArray: true
            }
        });
    });

    function PromoteChangesController($scope, $http, ChangeMappings) {
        $scope.mappings = ChangeMappings.get();

        $scope.merge = function (mapping, reverse) {
            $http.post("/merge/" + mapping.from + "-" + mapping.to + (reverse ? "/reverse" : "")).success(function () {
                alert("Merge successful");
            });
        };
    }

//]]>
</script>

<div data-ng-app="promote-changes" data-ng-controller="PromoteChangesController">

    <p>Mappings: q{{mappings.length}}</p>

    <table>
        <thead>
            <tr>
                <th align="right">Source</th>
                <th colspan="2" align="center">Promote</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="mapping in mappings">
                <td align="right">{{mapping.from}}</td>
                <td><form action="/promote/{{mapping.from}}-{{mapping.to}}/reverse" method="post"><input type="submit" value="&lt;"/></form></td>
                <td><form action="/promote/{{mapping.from}}-{{mapping.to}}" method="post"><input type="submit" value="&gt;"/></form></td>
                <td>{{mapping.to}}</td>
            </tr>
        </tbody>
    </table>

</div>
