<% content_for :title do "Promotion Result" end %>

<h2>Promotion Result</h2>

<p>Successfully promoted changes from <%= source %> to <%= destination %>.
    <strong style="font-size: 120%;">Review your changes before you commit.</strong></p>
