<% content_for :title do "Promote Changes" end %>

<script type="text/javascript">
//<![CDATA[

    angular.module("promote-changes", ["ngResource"]).factory("ChangeMappings", function ($resource) {
        return $resource("/change_mappings.json", {}, {
            get: {
                method: "GET",
                isArray: true
            }
        });
    });

    function PromoteChangesController($scope, $http, ChangeMappings) {
        $scope.dryRunOnly = false;
        $scope.recordOnly = false;
        $scope.mappings = ChangeMappings.get();
        $scope.merge = function (mapping, reverse) {
            var url = [
                "/promote/" + mapping.from + "-" + mapping.to,
                "?dry_run=" + $scope.dryRunOnly,
                "&reverse=" + reverse,
                "&record_only=" + $scope.recordOnly
            ];
            $http.post(url.join(''))
                .success(function (response) {
                    alert(response.message);
                });
        }
    }

//]]>
</script>

<div data-ng-app="promote-changes" data-ng-controller="PromoteChangesController">

    <p>Environment Mappings: {{mappings.length}}</p>

    <table>
        <thead>
            <tr>
                <th align="right">Source</th>
                <th colspan="2" align="center">Promote</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="mapping in mappings">
                <td align="right">{{mapping.from}}<span data-ng-show="mapping.from_has_changes">*</span></td>
                <td>
                    <button data-ng-disabled="mapping.from_has_changes || mapping.to_has_changes"
                            data-ng-click="merge(mapping, true)">&lt;</button>
                </td>
                <td>
                    <button data-ng-disabled="mapping.from_has_changes || mapping.to_has_changes"
                            data-ng-click="merge(mapping, false)">&gt;</button>
                </td>
                <td>{{mapping.to}}<span data-ng-show="mapping.to_has_changes">*</span></td>
            </tr>
        </tbody>
    </table>

    <p><input type="checkbox" id="dryRunOnly" data-ng-model="dryRunOnly"/>
        <label for="dryRunOnly">Dry Run Only</label></p>
    <p><input type="checkbox" id="recordOnly" data-ng-model="recordOnly"/>
        <label for="recordOnly">Record Only</label></p>
    <p>*Has pending changes</p>

</div>
