<% content_for :title do "Promotion Conflict" end %>

<p>Failed to promote changes from <%= source %> to <%= destination %>: conflicts exist.
    <strong style="font-size: 120%;">Use <a href="http://www.perforce.com/product/components/perforce_visual_client">P4V client</a>
        to promote changes manually.</strong></p>
