@charset "UTF-8";

body {
    font-family: sans-serif;
}

header h1 {
    font-variant: small-caps;
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul {
    margin: 0;
    padding: 6px 12px;
}

nav li {
    display: inline-block;
    list-style: none;
    margin: 2px 6px;
    padding: 0;
}

#buttons {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 0 18px;
    padding: 6px 12px;
}

#buttons li {
    display: inline-block;
    list-style: none;
    margin: 2px 6px;
    padding: 0;
}

#status_message {
    border-top: 1px solid black;
}
