@charset "UTF-8";

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 0.82em;
    line-height: 1.6;
    text-align: center;
    background: linear-gradient(to bottom, #207cca 0px, #7db9e8 440px);
    background: -webkit-linear-gradient(top, #207cca 0px, #7db9e8 440px);
    background: -o-linear-gradient(top, #207cca 0px, #7db9e8 440px);
    background: -ms-linear-gradient(top, #207cca 0px, #7db9e8 440px);
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    text-align: left;
    background: white;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 8px;
}

header h1 {
    font-variant: small-caps;
    margin: 3px 12px;
}

nav ul {
    margin: 0;
    padding: 6px 12px 4px;
    background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
    background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
    background: -o-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
    background: -ms-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

nav li {
    display: inline-block;
    list-style: none;
    margin: 2px 6px;
    padding: 0;
}

nav li a {
    color: #fdfeff;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover, nav li a:active {
    text-decoration: underline;
}

section.content {
    padding: 12px;
}

#status_message {
    border-top: 1px solid black;
}

.ng-invalid {
    color: red;
}

.config-forms li {
    text-transform: capitalize;
}

.config-forms li li {
    font-family: monospace;
    font-size: 1.2em;
    text-transform: none;
}

#config-form h2 {
    font-family: monospace;
}
