<div id="cfg_form">

    <label for="one">One Banana:</label>
    <input data-ng-model="cfg.one_banana" id="one" type="checkbox" data-ng-change="change()"/>
    <br/>

    <label for="two">Two Banana:</label>
    <input data-ng-model="cfg.two_banana" id="two" type="checkbox" data-ng-change="change()"/>
    <br/>
	
    <label for="tree">Three Banana:</label>
    <input data-ng-model="cfg.three_banana" id="tree" type="checkbox" data-ng-change="change()"/>
    <br/>

    <label for="four">Four:</label>
    <input data-ng-model="cfg.four" id="four" type="checkbox" data-ng-change="change()"/>
    <br/>

</div>
